In [5]:
import yfinance as yf
import os, sys

In [2]:
data = yf.download('VRNT','2006-01-01','2021-09-01')

[*********************100%***********************]  1 of 1 completed

In [3]:
data

                 Open       High        Low      Close  Adj Close   Volume
Date
2006-01-03  17.427406  17.539480  16.826286  16.958736  16.958736  1315210
2006-01-04  17.024961  17.784004  16.989302  17.437595  17.437595   935762
2006-01-05  17.340805  17.473255  17.198166  17.289862  17.289862  1167396
2006-01-06  17.233826  17.371370  16.897606  17.269485  17.269485   671150
2006-01-09  17.137035  17.289862  16.729496  16.917982  16.917982   915347
...               ...        ...        ...        ...        ...      ...
2021-08-25  43.700001  44.430000  43.700001  44.410000  44.410000   511900
2021-08-26  44.700001  44.700001  44.139999  44.160000  44.160000   474200
2021-08-27  44.299999  44.880001  44.220001  44.669998  44.669998   497300
2021-08-30  44.680000  44.770000  44.520000  44.590000  44.590000   335500
2021-08-31  44.570000  45.139999  44.299999  44.639999  44.639999   356200

[3943 rows x 6 columns]

In [8]:
input_dir = "../data/"
f_path = os.path.join(input_dir, 'stocks_verint.csv')
f_path

'../data/stocks_verint.csv'

In [9]:
data.to_csv(f_path, index=False)